[submodule "utils/frontend/contracts.sol/lib/forge-std"]
	path = utils/frontend/contracts.sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "utils/frontend/contracts.sol/lib/openzeppelin-contracts"]
	path = utils/frontend/contracts.sol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
