node_modules/
.idea/
build
.env
.vscode/settings.json
.vscode/tasks.json
yarn-error.log
nonce.db
test/exploratory/testPad.ts
allure-results/*.xml
reports/**/*
dev-test-encrypted-transactions/node_modules
dev-test-encrypted-transactions/yarn.lock
