node_modules/
.idea/
build
.env
.vscode/settings.json
.vscode/tasks.json
yarn-error.log
nonce.db
test/exploratory/testPad.ts
allure-results/*
allure-report
reports/**/*
.yarn/cache
.yarn/*.*
*.sqlite
/fe-ai-tests/tmp

tmp
**/tmp

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# PDM
.pdm-build/
__pypackages__/
.pdm-python

# Virtual environment
.venv/
