node_modules/
.idea/
build
.env
.vscode/settings.json
.vscode/tasks.json
yarn-error.log
nonce.db
test/exploratory/testPad.ts
allure-results/*
allure-report
reports/**/*
.yarn/cache
.yarn/*.*
*.sqlite
/fe-ai-tests/tmp
