{
    "id": 1, 
    "mangata_nodes": [ 
      { 
        "name": "Node A", 
        "wsPath": "wss://develop.mangatafinance.cloud:9944" 
      },
      { 
        "name": "Node B", 
        "wsPath": "wss://develop.mangatafinance.cloud:9945" 
      },
      { 
        "name": "Node C", 
        "wsPath": "wss://develop.mangatafinance.cloud:9946" 
      }
    ]
}