{
    "id": 1, 
    "nodes": [ 
      { 
        "name": "Node A", 
        "wsPath": "wss://develop.mangatafinance.cloud:9944" 
      },
      { 
        "name": "Node B", 
        "wsPath": "wss://develop.mangatafinance.cloud:9945" 
      },
      { 
        "name": "Node C", 
        "wsPath": "wss://develop.mangatafinance.cloud:9946" 
      }
    ],
    "users": [
      {
          "name": "Treasury"
      },
      {
          "name": "Gonzalo"
      },
      {
          "name": "Eddy"
      }
    ],
    "tokens": [
        {
            "name": "mgaToken",
            "supply": 10000000000
        }
    ]
}