endpoint: wss://mangata-x.api.onfinality.io/public-ws
# endpoint: ws://127.0.0.1:9946
mock-signature-host: true
db: ./mangata.db.sqlite
port: 9946

registered-types:
    types:
      ShufflingSeed:
        seed: 'H256'
        proof: 'H512'
      Header:
        parentHash: 'Hash'
        number: 'Compact<BlockNumber>'
        stateRoot: 'Hash'
        extrinsicsRoot: 'Hash'
        digest: 'Digest'
        seed: 'ShufflingSeed'
        count: 'BlockNumber'

import-storage:
  Sudo:
    Key: 5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY # Alice
  Tokens:
    Accounts:
      -
        -
          - 5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY
          - token: 0
        - free: '1000000000000000000000000' # 1M MG
  Council:
    Members: [5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY]
  AssetRegistry:
    Metadata:
      -
        -
          - 100
        - decimals: 18
          symbol: vMOVR
          additional:
            xcm:
              feePerSecond: '2688000000000000000'
          location:
            V1:
              parents: 1
              interior:
                X2:
                  - Parachain: 2001
                  - GeneralKey: '0x010A'
      -
        -
          - 1984
        - decimals: 6
          symbol: USDt
          additional:
            xcm:
              feePerSecond: '1'
          location:
            V1:
              parents: 1
              interior:
                X2:
                  - Parachain: 2001
                  - GeneralKey: '0x010A'