name: e2e workflow

on:
  pull_request:
    branches:
      - main
      - develop

  workflow_dispatch:
      inputs:
        scriptName:
          description: 'Name of the script to run'
          required: false
          default: 'test-sequential-e2e'
      # For manually trigger
 

jobs:
  test:
    name: Test code quality and run tests
    runs-on: ubuntu-latest
    env:
      API_URL: 'ws://172.16.238.10:9944'
      TEST_PALLET_ADDRESS: ${{ secrets.TEST_PALLET_ADDRESS }}
      TEST_SUDO_NAME: ${{ secrets.TEST_SUDO_NAME }}
      TEST_SCRIPT: 'test-sequential-e2e'
    steps:
      - name: Set variables
        run:  |
          echo "TEST_SCRIPT=${{ github.event.inputs.scriptName || env.TEST_SCRIPT }}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn
      - name: Tsc code quality check
        run: yarn tsc-lint
      - name: ESLint code quality check
        run: yarn eslint
      - name: Start mangata-node node
        run: docker-compose -f devops/dockerfiles/docker-compose.yml up -d
      - name: Docker ps
        run: docker ps
      - name: Sleep for 5 seconds
        run: sleep 5s #we need to sleep to avoid block Number 0.
        shell: bash
      - name: Run e2e tests
        run: yarn ${{ env.TEST_SCRIPT }}
      
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: JEST Tests            # Name of the check run which will be created
          path: reports/jest-*.xml    # Path to test results
          reporter: jest-junit        # Format of test results

      - name: Archive report files
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: TestReport
          path: reports/html-report/report.html

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report [History]
        uses: simple-elf/allure-report-action@master
        if: always()
        #id: allure-report
        with:
          allure_results: allure-results
          #gh_pages: gh-pages
          #allure_report: allure-report
          allure_history: allure-history
          keep_reports: 20

      - name: Generate Allure Report [Deploy to GH]
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history


      - name: Generate Allure Report [Add Link] - https://mangata-finance.github.io/mangata-e2e/
        if: always()
        uses: Sibz/github-status-action@v1
        with: 
            authToken: ${{secrets.GITHUB_TOKEN}}
            context: 'Test report'
            state: 'success'
            sha: ${{ github.event.pull_request.head.sha  || github.sha }}
            target_url: 'https://mangata-finance.github.io/mangata-e2e/${{ github.run_number }}'

      - name: Stop Containers
        if: always()
        run: docker-compose -f "devops/dockerfiles/docker-compose.yml" down
