name: Xcm - monitor

on:
  workflow_dispatch:
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
  run-e2e-workflow:
    needs: [checkout]
    name: Run xcm chops tests
    uses: ./.github/workflows/rune2e.yml
    secrets: inherit
    strategy:
      matrix:
        test: ['test-xcm' ]
    with:
        scriptName: "${{ matrix.test }}"
        parallel: false
        dockerImage: "mangatasolutions/mangata-node:develop"
        e2eBranch: "main"
